/* Code for next video */
.cardBox {
    border: none;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
}

.cardBox:hover {
    translate: 0px -11px;
    transition: all 0.3s ease-in-out;
}
