/* Google font */
@import url('https://fonts.cdnfonts.com/css/menlo');
/* Font Used  */
:root {
    --main-color: #ffdead;
    --pure: #fff;
    --dark: #555;
    --gradient-main: #e8cbc0;
    --gradient-secondary: #636fa4;
    --gradient-dark: #c19b8d;
}

/* Disabled the scroll bar */
::selection {
    background-color: var(--dark);
    color: var(--pure);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Body */
body {
    font-family: 'Menlo', sans-serif;
    font-weight: 600;
    background-color: var(--dark);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: var(--gradient-main);
    background: -webkit-linear-gradient(
        to right,
        var(--gradient-dark),
        var(--gradient-secondary)
    );
    background: linear-gradient(
        to right,
        var(--gradient-main),
        var(--gradient-secondary)
    );
    min-height: 100vh;
}

.profile {
    border-radius: 100%;
}

.cardBox {
    border: none;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
}

.cardBox:hover {
    translate: 0px -11px;
    transition: all 0.3s ease-in-out;
}

.bg {
    stroke: var(--accent);
    opacity: 0.3;
}

#progress .indicator {
    stroke: var(--accent);
}

.box {
    width: 10.125rem;
    height: 2.925rem;
    border-radius: 50px;
    background: var(--accent);
    cursor: pointer;
    transform: none;
    text-align: center;
    border: 2px solid var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    margin: 12px 1rem;
}
a {
    text-decoration: none;
    color: var(--dark);
}
a:hover {
    color: var(--dark);
}

.lead {
    border-radius: 0.35rem;
}

button {
    background: none;
    border: none;
    list-style: none;
    text-decoration: none;
}
