/* Font Used  */
@font-face {
    font-family: 'Apple';
    src: local('Apple'),
        url(../src/fonts/HelveticaNowMicro-Regular.ttf) format('truetype');
}
/* Disabled the scroll bar */
::selection {
    background-color: #555;
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Body */
body {
    font-family: 'Victor Mono';
    font-weight: 600;
    background-color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #c19b8d, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}

.profile {
    border-radius: 100%;
}

.cardBox {
    border: none;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
}

.cardBox:hover {
    translate: 0px -11px;
    transition: all 0.3s ease-in-out;
}
