/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700;900&display=swap');

:root {
    --main-color: #ffdead;
    --pure: #fff;
    --dark: #555;
    --gradient-main: #e8cbc0;
    --gradient-secondary: #636fa4;
    --gradient-dark: #c19b8d;
}

/* Disabled the scroll bar */
::selection {
    background-color: var(--dark);
    color: var(--pure);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Body */
body {
    /* color: rgba(255, 255, 255, 0.65); */
    background-color: #24292e;
    background-image: url(./assets/star-bg.svg),
        linear-gradient(#191c20, #24292e 15%);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
h1 {
    color: white;
}
.profile {
    border-radius: 100%;
}

.cardBox {
    border: none;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
}

.cardBox:hover {
    translate: 0px -11px;
    transition: all 0.3s ease-in-out;
}

.bg {
    stroke: var(--accent);
    opacity: 0.3;
}

#progress .indicator {
    stroke: var(--accent);
}

.box {
    width: 10.125rem;
    height: 2.925rem;
    border-radius: 50px;
    background: var(--accent);
    cursor: pointer;
    transform: none;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5e2fa3;
    margin: 12px 1rem;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: white;
}

.lead {
    border-radius: 0.35rem;
}

/* All Buttons */
button {
    background: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

/* Github Image */
.github {
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    border-radius: 0.3125rem;
}
